body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #363333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: #c5c1c1;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #555555;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333333;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#resultsContainer {
  margin-top: 20px;
}

/* APP DESCRIPTION */

.header {
    background-image: url("./Images/careerbook.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #343333;
}

.header-content {
    max-width: 600px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header-description {
    font-size: 18px;
}

.vision-mission {
    padding: 50px 0;
    text-align: center;
}

.vision-mission h2 {
    color: #333333;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.grid-item h3 {
    color: #333333;
    margin-bottom: 10px;
}

/* LOGIN */

#loginSection {
  text-align: center;
  margin-top: 50px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#loginForm label {
  margin-bottom: 10px;
  font-weight: bold;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#loginForm button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #555555;
}

/* to hide login form */
.hidden {
  display: none;
}

/* Section A */
  
#section-a {
  background: #b79c9c;
  color: #282956;
  padding-bottom: 2em;
}

/* Section B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #e1dfdf;
  color: #01010e;
}

.card-content {
  padding: 1.5em;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: #232a54;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #121212;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #252e5c;
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #141212
    url("./Images/Educatiuon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}
